@{
    ViewData["Title"] = "Home Page";
}

@* <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to Our Store</h1>
        <p class="col-md-8 fs-4">Explore our wide selection of products and discover amazing deals today.</p>
        <a class="btn btn-primary btn-lg" asp-controller="Products" asp-action="Index" role="button">Browse Products</a>
    </div>
</div> *@

<div class="container-fluid p-0">
    <div class="banner position-relative text-white">
        <img src="~/Images/Banner.png" class="img-fluid w-100" alt="Banner Image">
        <div class="position-absolute top-50 start-50 translate-middle text-center">
       @*      <h1 class="display-4 fw-bold">Welcome to Our Store</h1> *@
           @*  <p class="lead">Discover amazing products at unbeatable prices.</p> *@
            <a asp-controller="Products" asp-action="GetAllProducts" class="btn btn-primary btn-lg mt-3">Shop Now</a>
        </div>
    </div>
</div>