@model IEnumerable<SalesInformationSystem.Models.Product>

@{
    ViewData["Title"] = "GetAllProducts";
}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
@foreach (var item in Model) {

        <div class="col">
            <div class="card h-100">
                <img src="~/Images/@item.ImageUrl" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">@item.ProductDescription</p>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-primary fw-bold">SGD @item.ProductPrice</span>
                        <a asp-controller="ShoppingCartItems" asp-action="AddToCart" asp-route-id="@item.ProductId" class="btn btn-sm btn-outline-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    
   
}
</div>
